@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --nav-background: #f2e6e6;
  --nav-foreground: #171717;
}
:root[data-theme="dark"] {
  --background: #171717;
  --foreground: #ffffff;
  --nav-background: #222121;
  --nav-foreground: #ffffff;
}
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-Nav-background: var(--nav-background);
  --color-Nav-foreground: var(--nav-foreground);
}

/* @theme root[data-theme= "dark"]{
  --color-background: #171717;
  --color-foreground: #ffffff;
  --color-Nav-background: #222121;
  --color-Nav-foreground: #ffffff;
}; */

/* :root[data-theme="light"] {
} */

html,
body {
  max-width: 100vw;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  /*   padding: 0;
  margin: 0; */
}

a {
  color: inherit;
  text-decoration: none;
}
